
#fernanda{
   
    font-family: "SamsungOne-700", Arial, Helvetica, sans-serif;
    background-color: white;
}
.card-group{
    background-color: #f7f7f7;
}
.card{
    font-family: "SamsungOne-700", Arial, Helvetica, sans-serif;
    border:none;
    border-radius:20px;
    padding: 2%;
    background-color: #f7f7f7;
    margin: 0.7em;
    width: 250px;
    height: 550px;
    
}
.card h5{
    font-size: 16px;
}
.card .color{
    font-size:12px;
}
.card .color-name-text{
    font-size: 12px;
    font-weight: light;
}
.container{
    background-color: white;

}
h1{
    font-family: "SamsungOne-700", Arial, sans-serif;
    text-align: center;
    
}
/*para que el boton comprar quede al final*/
.card-body {
    display: flex;
    flex-direction: column;   
}
.card-body button {
    margin-top: auto;
}
/* Estilos para los botones con clase "pulgadas" */
button.pulgadas {
    text-align: center;
    background-color: #f7f7f7; /* Fondo del botón para todos los botones */
    color: black; /* Cambiar el color del texto a negro */
    border: 1px solid black; /* Establecer un borde negro delgado */
    /* padding: 5px 10px; /* Ajustar el relleno del botón según sea necesario */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
}

button.pulgadas:focus {
    outline: none; 
    border-style: dashed; /* Cambiar el estilo del borde a punteado cuando se enfoca */
}

/* Estilos para el contenedor de los botones de las pulgadas*/
.botones-container {
    display: flex; /* Mostrar los botones en línea */
    gap: 10px; /* Espacio entre los botones */
   justify-content: center;
  
}

/* cositas para el boton comprar*/

.btn-rounded {
    border-radius: 20px; 
    border:none;
    font-size:12.3667px ;
    margin-top:20px;
    
}
.btn-rounded:hover {
    background-color:grey; /* Cambia el color de fondo al pasar el mouse */
    color: WHITE; /* Cambia el color del texto al pasar el mouse */
    cursor: pointer;
    border:none;
}
/*cositas de la tarjeta*/
.color{
    font-size:10.3056;
    font-weight: bold;
}
.color-name-text{
    font-size :10.3056px;

}

/*Para ajustar Swipper*/
/*al fin se pueden ocultar las que estan por fuera del carrusel*/
.swiper-container{
    overflow: hidden;
}
/* .swiper-button-next, .swiper-button-prev {
    margin-left: 0; 
    margin-right: 0; 
} */

/*Formato flechitas Swipper*/

/* Cambiar el color de las flechas */
.swiper-button-next::after,
.swiper-button-prev::after {
    color: black; 
    font-size: 18px;
}
.botoncitos{
    position: relative;
    width: full;
}
/* Ajustar posición vertical de las flechas */
.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    transform: translateY(-750%); 
}

/*Para acomodar las posiciones de los elementos dentro de las tarjetas*/

.card .card-body {
    position: relative; /* Establecer posición relativa para que el precio se posicione de forma absoluta en relación a este contenedor */
    height: 100%;
}

.card .card-body .price {
    position: absolute; /* Establecer posición absoluta */
    bottom: 70px; /* Ajustar la distancia desde la parte inferior */
    left: 80px; 
    background-color: #f7f7f7; 
    padding: 10px; /* Espaciado interno del precio */
}
.card .card-body .color{
    position: absolute; /* Establecer posición absoluta */
    bottom: 200px; /* Ajustar la distancia desde la parte inferior */
    left: 1dvb; /* Ajustar la distancia desde el lado izquierdo */
    background-color: #f7f7f7; 
    padding: 10px; /* Espaciado interno del precio */
}
/* Para los botones de pulgadas*/
.card .card-body .botones-container{
    position: absolute; /* Establecer posición absoluta */
    bottom: 150px; /* Ajustar la distancia desde la parte inferior */
    left: 1dvb; /* Ajustar la distancia desde el lado izquierdo */
    background-color: #f7f7f7; 
    padding: 10px; /* Espaciado interno del precio */ 
}




